schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
  schemaLocation="http://www.w3.org/2001/03/xml.xsd" />
  <xs:element name="institutions">
    <xs:annotation>
      <xs:documentation xml:lang="en">This is the root element that
      contains information about the positions of projection
      screens across all institutions.</xs:documentation>
      <xs:documentation xml:lang="cs">Toto je kořenový element,
      který obsahuje veškeré informace o rozmístění projekčních
      pláten napříč všemi institucemi.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="institution" type="institution-type"
        minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute ref="xml:base" />
    </xs:complexType>
    <xs:unique name="institution-ids">
      <xs:selector xpath="institution" />
      <xs:field xpath="@id" />
    </xs:unique>
  </xs:element>
  <xs:complexType name="institution-type">
    <xs:annotation>
      <xs:documentation xml:lang="en">This element represents an
      institution, whose name is specified in the name
      attribute.</xs:documentation>
      <xs:documentation xml:lang="cs">Tento element představuje
      instituci, jejíž název je zadaný atributem
      name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rooms" type="rooms-type">
        <xs:unique name="room-ids">
          <xs:selector xpath="room" />
          <xs:field xpath="@id" />
        </xs:unique>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute ref="xml:base" />
  </xs:complexType>
  <xs:complexType name="rooms-type">
    <xs:annotation>
      <xs:documentation xml:lang="en">This element contains
      information about the positions of projection screens at a
      single institution.</xs:documentation>
      <xs:documentation xml:lang="cs">Tento element obsahuje
      veškeré informace o rozmístění projekčních pláten v rámci
      jedné instituce.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="room" type="room-type" minOccurs="0"
      maxOccurs="unbounded">
        <xs:key name="camera-keys">
          <xs:selector xpath="./cameras/camera" />
          <xs:field xpath="@id" />
        </xs:key>
        <xs:keyref name="position-keyrefs" refer="camera-keys">
          <xs:selector xpath="./screens/screen/positions" />
          <xs:field xpath="@camera" />
        </xs:keyref>
      </xs:element>
    </xs:sequence>
    <xs:attribute ref="xml:base" />
  </xs:complexType>
  <xs:complexType name="room-type">
    <xs:annotation>
      <xs:documentation xml:lang="en">This element represents a
      room, whose name is specified in the name
      attribute.</xs:documentation>
      <xs:documentation xml:lang="cs">Tento element představuje
      místnost, jejíž název je zadaný atributem
      name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cameras" type="cameras-type">
        <xs:unique name="camera-ids">
          <xs:selector xpath="camera" />
          <xs:field xpath="@id" />
        </xs:unique>
      </xs:element>
      <xs:element name="screens" type="screens-type">
        <xs:unique name="screen-ids">
          <xs:selector xpath="screen" />
          <xs:field xpath="@id" />
        </xs:unique>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute ref="xml:base" />
  </xs:complexType>
  <xs:complexType name="cameras-type">
    <xs:annotation>
      <xs:documentation xml:lang="en">This element contains
      information about the positions of projection screens in a
      single room.</xs:documentation>
      <xs:documentation xml:lang="cs">Tento element obsahuje
      veškeré informace o rozmístění projekčních pláten v rámci
      jedné místnosti.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="camera" type="camera-type" minOccurs="0"
      maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute ref="xml:base" />
  </xs:complexType>
  <xs:complexType name="camera-type">
    <xs:annotation>
      <xs:documentation xml:lang="en">This element represents a
      camcoder, whose name is specified in the name attribute. The
      width, and height attributes specify the width, and the
      height of the captured video in pixels.</xs:documentation>
      <xs:documentation xml:lang="cs">Tento element představuje
      videokameru, jejíž název je zadaný atributem name. Atributy
      width a height zadávají šířku a výšku výsledného videozáznamu
      v pixelech.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="width" type="xs:positiveInteger"
    use="required" />
    <xs:attribute name="height" type="xs:positiveInteger"
    use="required" />
  </xs:complexType>
  <xs:complexType name="screens-type">
    <xs:annotation>
      <xs:documentation xml:lang="en">This element contains
      information about the positions of projection screens in a
      single room.</xs:documentation>
      <xs:documentation xml:lang="cs">Tento element obsahuje
      veškeré informace o rozmístění projekčních pláten v rámci
      jedné místnosti.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="screen" type="screen-type" minOccurs="0"
      maxOccurs="unbounded">
        <xs:unique name="positions-cameras">
          <xs:selector xpath="positions" />
          <xs:field xpath="@camera" />
        </xs:unique>
      </xs:element>
    </xs:sequence>
    <xs:attribute ref="xml:base" />
  </xs:complexType>
  <xs:complexType name="screen-type">
    <xs:annotation>
      <xs:documentation xml:lang="en">This element represents a
      projection screen, whose description is specified in the name
      attribute. The optional from attribute specifies the date,
      and time that marks the screen's installation. The default
      value of the from attribute is taken to be the earliest date,
      and time at which the position of the projection screen is
      known. The optional until attribute specifies the date, and
      time that marks the screen's removal. When the until
      attribute is left unspecified, the screen is assumed to be
      present at any point since the date and time specified by the
      (possibly inferred) value of the from
      attribute.</xs:documentation>
      <xs:documentation xml:lang="cs">Tento element představuje
      projekční plátno, jehož popis je zadaný atributem name.
      Volitelný atribut from zadává datum a čas instalace plátna.
      Výchozí hodnota atributu from je nejbrzší datum a čas, u
      kterého máme informaci o pozici plátna. Volitelný atribut
      until zadává datum odstranění projekčního plátna. Pokud není
      zadána hodnota atributu until zadána, předpokládá se, že je
      projekční plátno přítomné kdykoliv od data a času zadaného
      (případně výchozí) hodnotou atributu from.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="positions" type="positions-type">
        <xs:unique name="position-datetimes">
          <xs:selector xpath="position" />
          <xs:field xpath="@datetime" />
        </xs:unique>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="from" type="xs:dateTime" />
    <xs:attribute name="until" type="xs:dateTime" />
    <xs:attribute ref="xml:base" />
  </xs:complexType>
  <xs:complexType name="positions-type">
    <xs:annotation>
      <xs:documentation xml:lang="en">This element contains
      information about the positions of a single projection screen
      as it is captured by the camcoder whose id is given by the
      camera attribute.</xs:documentation>
      <xs:documentation xml:lang="cs">Tento element obsahuje
      veškeré informace o rozmístění jednoho projekčního plátna na
      videozáznamu z kamery, jejíž identifikátor je zadaný
      atributem camera.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="position" type="position-type"
      minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="camera" type="xs:string" use="required" />
    <xs:attribute ref="xml:base" />
  </xs:complexType>
  <xs:complexType name="position-type">
    <xs:annotation>
      <xs:documentation xml:lang="en">This element represents the
      position of a projection screen at a given date, and time
      specified by the datetime attribute. The xi, yi, i=0, 1, 2,
      3, attributes are four coordinates that specify the top left,
      top right, bottom left, and bottom right corners of a
      quadrilateral delineating the frame area occupied by the
      screen. Be aware that xi, yi may go beyond the video
      boundaries.</xs:documentation>
      <xs:documentation xml:lang="cs">Tento element představuje
      pozici projekčního plátna v určitém datu a čase zadaném
      atributem datetime. Atributy xi, yi, i=0, 1, 2, 3, zadávají
      levý horní, pravý horní, levý dolní a pravý dolní roh
      čtyřúhelníku, který projekční plátno ohraničuje. Berte na
      vědomí, že souřadnice mohou přesahovat okraje
      videa.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="datetime" type="xs:dateTime" />
    <xs:attribute name="x0" type="xs:integer" use="required" />
    <xs:attribute name="y0" type="xs:integer" use="required" />
    <xs:attribute name="x1" type="xs:integer" use="required" />
    <xs:attribute name="y1" type="xs:integer" use="required" />
    <xs:attribute name="x2" type="xs:integer" use="required" />
    <xs:attribute name="y2" type="xs:integer" use="required" />
    <xs:attribute name="x3" type="xs:integer" use="required" />
    <xs:attribute name="y3" type="xs:integer" use="required" />
  </xs:complexType>
</xs:schema>
